<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VIES_Checker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <VIES_Checker.Properties.Settings>
            <setting name="VIES_Checker_eu_europa_ec_checkVatService" serializeAs="String">
                <value>http://ec.europa.eu/taxation_customs/vies/services/checkVatService</value>
            </setting>
        </VIES_Checker.Properties.Settings>
    </applicationSettings>
</configuration>